{% extends "base.html"%}
{%block title%}
create_author
{%endblock%}
{%block content%}
<h1>新添作者</h1>
<form method="post" action="">
<ul>
{{form.AuthorID.errors}}
<li>作者ID: {{form.AuthorID}}</li>
{{form.Name.errors}}
<li>姓名: {{form.Name}}</li>
{{form.Age.errors}}
<li>年龄: {{form.Age}}</li>
{{form.Country.errors}}
<li>国家: {{form.Country}}</li>
</ul>
{% csrf_token %}
<p>
<input type="submit" value="修改"/>
<input type="reset" value ="重置"/>、
</p>  
</form> 
<a href="../index/">返回主页</a> 
{% endblock %} 
